:root {
  --white: #fff;
  --black: #000;
}

html {
  font-size: 10px;
}

header {
  position: fixed;
  text-align: center;
  top: 0;
  right: 0;
  left: 0;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
}

.nav {
  position: relative;
}

.burger {
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  text-decoration: none;
  color: var(--black);
}

main {
  min-height: calc(100vh - 7rem);
  padding-top: 7rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

