:root {
  --light-grey: #f3f3f3;
  --dark-grey: #333333;
  --dark-blue-green: #2a5a6c;
}

@font-face {
  font-family: "Ibarra Real Nova";
  src: url("./fonts/IbarraRealNova-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: 'Ibarra Real Nova';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
}
